
<span class="p-float-label"><br>
    <input id="float-input" type="text" pInputText> <br>
    <label for="float-input" class="float-input">ID</label><br>
</span>

<span class="p-float-label"><br>
    <input id="float-input" type="text" pInputText> <br>
    <label for="float-input" class="float-input">Name</label><br>
</span>

<span class="p-float-label"><br>
    <input id="float-input" type="text" pInputText> <br>
    <label for="float-input" class="float-input">Frequency</label><br>
</span>

<span class="p-float-label"><br>
    <input id="float-input" type="text" pInputText> <br>
    <label for="float-input" class="float-input">Amount</label><br>
</span>

<p-button class='button' label="Submit"></p-button>