/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    
    position: fixed;
    height: 59%;
    overflow: auto;
  }

  .active {
    background-color: #04AA6D;
    color: white;
  } */